.mainContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

body{
    background-color:#073980;
}

#contenedorGato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 350px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 0.5rem;
}

.casilla{
    font-size: 60px;
    font-weight: 800;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid rgb(0, 208, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
}

.textoGane{
    display: flex;
    justify-content: center;
}